@media all and (min-width: 710px) {
  .banner {
    padding: 0 20px;
  }
  .navigation {
    padding: 25px;
  }
  nav a > h1 {
    display: block;
    margin: 0;
  }
  nav ul li:last-of-type {
    margin-right: 30px;
  }
  .switch {
    display: block;
  }
  .personal-info {
    width: 90%;
  }
  .personal .about-info p {
    text-align: justify;
  }
  nav {
    flex-direction: row;
    padding: 0 20px;
  }
  nav ul {
    margin-left: auto;
  }

  .svg-container {
    width: 45%;
    min-width: 375px;
    margin-right: auto;
  }
  .svg-container {
    object-fit: cover;
  }
  .project .project-details,
  .project .img-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media all and (min-width: 905px) {
  .personal-info {
    text-align: left;
  }
  .personal-info p {
    width: 87%;
  }
  .personal-info h2 {
    font-size: 70px;
  }
  .see-projects {
    width: auto;
    margin-left: 20px;
  }

  .about-info {
    width: 70%;
    max-width: 1200px;
  }
  .svg-container {
    position: static;
    opacity: 1;
  }
  .svg-container img {
    display: none;
    width: 10px;
  }
  .project {
    flex-direction: row-reverse;
    height: 300px;
    justify-content: space-around;
    position: relative;
  }
  .project p {
    text-align: justify;
  }
  .project-card {
    padding: 20px;
  }
  .project .project-details,
  .project .img-container {
    flex-basis: 50%;
  }
  .project .img-container {
    height: auto;
    max-width: 450px;
  }
  .project-links {
    position: absolute;
    bottom: 10px;
    left: 15%;
  }
  .project-card:nth-child(odd) .project > .img-container {
    order: 1;
    margin-right: 20px;
  }
  .project-card:nth-child(even) .project > .img-container {
    margin-left: 20px;
  }
  .project-card:nth-child(odd) .project-links {
    left: 65%;
  }
  .contact h2 {
    padding-right: 120px;
  }
  .contact-info {
    text-align: left;
  }
  .contact-me {
    flex-direction: row;
  }
  .contact-form {
    width: 50%;
  }
  form {
    margin: 0;
    margin-left: auto;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    padding: 50px 0;
  }
}
