@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background: #262626;
}
header {
  background: #262626;
  color: white;
}
.navigation {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background: #202020f6;
  width: 100%;
  border-bottom: 1px solid rgba(117, 115, 115, 0.301);
  box-shadow: 3px 18px 15px -2px rgba(12, 12, 12, 0.64);
}
nav {
  padding: 0 20px;
  display: flex;
  align-items: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

nav ul {
  margin-left: auto;
  font-weight: lighter;
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
  font-size: 20px;
}
nav ul li a:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #e38443;
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

.banner {
  height: 100vh;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-info {
  padding: 30px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.personal-info h2 {
  font-size: 40px;
}

.personal-info h2 span {
  display: block;
}

.personal-info p {
  margin: 30px 0;
  font-weight: lighter;
  font-size: 24px;
}

.svg-container {
  position: absolute;
  opacity: 0.1;
  align-self: right;
  height: 500px;
  margin-top: 40px;
  width: 60%;
  background: url('./images/coding_\ copy.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.svg-container img {
  width: 120%;
  height: 100%;
  display: none;
}
.see-projects {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 170px;
}

.see-projects:before {
  content: '';
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #e383439c;
  position: absolute;
  left: -25px;
}

.see-projects a {
  margin-right: 10px;
  z-index: 1;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
}
.see-projects a::after,
.see-projects button::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #e38443;
  transition: width 0.3s;
}

.see-projects a:hover::after,
.see-projects button:hover::after {
  width: 100%;
}

.see-projects span {
  color: #e38443;
}

.projects {
  background: #1f1f1f;
  text-align: center;
  padding: 20px 0;
}
.projects h2 {
  color: white;
  font-size: 40px;
}

.project-card {
  margin: 100px 0;
}
.project-card h3 {
  color: white;
}

.project {
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  color: White;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 20px;
  margin-top: 50px;
}
.project p {
  padding: 15px;
  font-size: 20px;
  text-align: justify;
}
.project .project-details {
  display: flex;
  flex-direction: column;
}
.project .img-container {
  width: 100%;
  height: 400px;
  background: white;
}

.project .img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project .project-links {
  margin-top: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.project .project-links span {
  background: white;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 0 10px;
  cursor: pointer;
  color: black;
}

.project .project-links span:hover {
  background: #e38443;
  transition: all ease-in 0.3s;
  color: white;
}

.project .project-links span a {
  color: inherit;
}

.contact {
  background: #262626;
  text-align: center;
  padding: 20px 0;
  max-width: 1400px;
  margin: 0 auto;
}
.contact h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
}

.contact h2::after {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background: #e38443;
  margin: 7px auto 0 auto;
}
.contact-me {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0 auto;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  min-height: 400px;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
}
.contact-info > * {
  margin: 30px 0;
}
.contact-info i {
  display: inline-block;
  margin-right: 20px;
  color: #e38443;
}

.contact-form h3 {
  text-align: center;
  margin: 0 0 10px 0;
}
form {
  background: #1f1f1f;
  display: flex;
  text-align: justify;
  color: white;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px 15px;
  margin-left: auto;
}

form label {
  padding-left: 10px;
}
form input,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
  margin: 10px;
  border-bottom: 1px solid rgba(144, 145, 146, 0.63);
  color: white;
}
textarea {
  background: #262626;
}
.contact-form .see-projects {
  bottom: 0;
  text-align: center;
  margin-top: 25px;
  padding-left: 20px;
}

.contact-form .see-projects::before {
  width: 40px;
  height: 40px;
  border-radius: 0;
  transform: rotate(40deg);
  margin-left: 30px;
}
.contact-form button {
  border: 0;
  background: none;
  color: white;
  margin: 0 7px;
  cursor: pointer;
}
a,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

@media all and (min-width: 500px) {
  .contact-form {
    width: 80%;
  }
  form {
    margin: 0 auto;
  }
}
@media all and (min-width: 905px) {
  .personal-info {
    text-align: justify;
  }

  .personal-info h2 {
    font-size: 70px;
  }

  .see-projects {
    width: auto;
    margin-left: 20px;
  }
  .svg-container {
    position: static;
    opacity: 1;
  }
  .svg-container img {
    display: none;
    width: 10px;
  }

  .project {
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 300px;
    position: relative;
  }

  .project .project-details,
  .project .img-container {
    flex-basis: 50%;
  }
  .project .img-container {
    height: auto;
  }
  .project-links {
    position: absolute;
    bottom: 0;
    left: 15%;
  }
  .contact h2 {
    padding-right: 120px;
  }
  .contact-me {
    flex-direction: row;
  }
  .contact-form {
    width: 50%;
  }
  form {
    margin: 0;
    margin-left: auto;
  }
}
