@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Rubik', 'Montserrat', sans-serif;
}

html {
    font-size: 10px;
}

main {
    width: 100%;
    margin: 0 auto;
    background: #00a78e;
    /* background: red; */
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
}

img {
    width: 100%;
}
/* HEADER */

header {
    display: flex;
}

/* NAVIGATION */
.navigation {
    background-color: White;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 1.9rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: fixed;
}

.navigation h1 {
    width: 100%;
    text-align: left;
}

.navigation h1 span {
    color: #00a78e;
    text-align: left;
}

.navigation .navigation__items {
    display: none;
}

/* mobile menu  */

#menu {
    background-color: transparent;
    background-image: linear-gradient(to right, #00a78e, #00a78e);
    background-position: center;
    background-repeat: repeat-x;
    background-size: 100% 3px;
    border: 0;
    color: transparent;
    cursor: pointer;
    font-size: 0;
    height: 24px;
    padding: 0;
    position: fixed;
    transition: transform 0.2s;
    width: 30px;
    z-index: 2;
    top: 24px;
    right: 16px;
}

#menu::before,
#menu::after {
    background: #00a78e;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
}

#menu::before {
    top: 0;
}

#menu::after {
    bottom: 0;
}

#menu.open {
    transform: rotate(360deg);
    background: none;
}
#menu.open::after,
#menu.open::before {
    background-image: linear-gradient(to right, #00a78e, #00a78e);
}

#menu.open::before {
    top: auto;
    transform: rotate(-45deg);
}

#menu.open::after {
    bottom: auto;
    transform: rotate(45deg);
}

.mobile__nav__overlay {
    top: 0;
    left: -1500px;
    height: 100%;
    width: 100%;
    background: rgba(0, 167, 142, 0.9);
    position: fixed;
    transition: left ease 0.5s;
}

.open + .mobile__nav__overlay {
    left: 0px;
}

.mobile__nav__overlay .navigation__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navigation__items li {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
}

.navigation__items li a {
    color: white;
}

.navigation__items li a::after {
    content: '';
    visibility: hidden;
    width: 0px;
    height: 2px;
    background: white;
    transition: width 0.3s;
    display: block;
}

.navigation__items li a:hover::after {
    width: 100%;
    visibility: visible;
}

/*  NAVIGATION   */

/* HEADER */

/* BANNER */
.banner {
    display: flex;
    height: 50vh;
    margin: 0 auto;
    background: #00a78e;
}

.banner__left {
    height: 100%;
    text-align: center;
}

.banner__right {
    display: none;
}

.banner__info {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    max-width: 1400px;
}

.banner__info span {
    display: block;
    color: white;
    font-size: 3rem;
}

.banner__info h2 {
    margin: 1rem 0;
    color: black;
    font-size: 4rem;
}
.banner__info h2 span {
    color: White;
    font-size: inherit;
    display: inline-block;
}

.banner__info p {
    font-size: 2.3rem;
    font-weight: lighter;
    color: white;
}

.banner__btn {
    max-width: 120px;
    color: #00a78e;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    margin: 2rem auto 0 auto;
}

.banner__btn:hover {
    background-color: #dbdddd;
    transform: scale(1.1);
    transition: all ease 0.5s;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

/* BANNER */

/* ABOUT ME  */
.about {
    background-color: white;
}

.about__container {
    margin: 0 auto;
}
.about__img {
    display: none;
    /* flex-basis: 50%; */
    position: relative;
    align-self: center;
    border: 0.5rem solid #00a78e;
    /* transform: skewY(10deg); */
    background-color: #00a78e;
    margin-left: 2rem;
}
.about__img div:first-of-type {
    overflow: visible !important;
}

.about__img img,
.about__img source {
    width: 70% !important;
    /* transform: skewY(-10deg) !important; */
}

.about__info {
    flex: 1;
    padding: 2rem;
}

.about__info h2 {
    color: #00a78e;
    font-size: 3.2rem;
    text-align: center;
}

.about__info p {
    margin: 0 auto;
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight: lighter;
    color: #acaaaa;
}

.about__info p:first-of-type {
    margin: 1rem auto;
}

.about__info p span {
    color: #006152;
}
/* ABOUT ME  */

/* PROJECTS */

.projects {
    text-align: center;
    padding: 6rem;
    background-color: #f9f9f9;
}

.projects h2 {
    font-size: 3.2rem;
    color: #00a78e;
}

.projects h2 span {
    color: black;
    display: inline-block;
    border-bottom: 2px solid #00a78e;
}

.projects__container {
    max-width: 1500px;
    margin-top: 5rem;
}
.projects__container > div:not(:last-of-type) {
    margin-bottom: 4rem;
}

.projects__item {
    display: flex;
    flex-direction: column;
}

.projects__item > * {
    -webkit-box-shadow: -4px 17px 31px -25px rgb(168, 165, 165);
    -moz-box-shadow: -4px 17px 31px -25px rgb(168, 165, 165);
    box-shadow: -4px 17px 31px -25px rgb(168, 165, 165);
}

.projects__img {
    flex-basis: 50%;
    max-width: 800px;
    border-radius: 0.3rem;
    align-self: center;
    height: 400px;
}

.projects__img img {
    height: 100%;
}

.projects__info {
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
    background-color: white;
}

.projects__info h3 {
    text-align: center;
    font-size: 2.8rem;
    color: #00a78e;
    margin-top: 2rem;
}

.projects__info p {
    text-align: left;
    margin: 1rem auto;
    font-size: 1.5rem;
    font-weight: lighter;
    color: #acaaaa;
}
.projects__stack {
    margin-top: auto;
}

.projects__stack ul {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.projects__stack li:not(:last-of-type) {
    margin-right: 1.5rem;
    font-size: 1.5rem;
}

.projects__stack li {
    font-size: 1.5rem;
}

.projects__links {
    margin-top: 1rem;
}

.projects__links a {
    border: 1px solid #00a78e;
    font-size: 1.3rem;
    padding: 1rem;
    background-color: #00a78e;
    color: white;
    border-radius: 2px;
}

.projects__links a:last-of-type {
    margin-left: 1rem;
}

/* PROJECTS */

/* CONTACT */

.contact {
    background: white;
    text-align: center;
    padding: 3rem;
}

.contact h2 {
    color: #00a78e;
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.contact__container {
    max-width: 1800px;
    margin: 0 auto;
    text-align: center;
}

.contact__info h3 {
    font-size: 1.9rem;
}

.contact__info p {
    text-align: left;
    font-size: 1.7rem;
    margin: 2rem auto;
    color: #acaaaa;
    max-width: 600px;
}

.contact__info a {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #00a78e;
    font-size: 1.5rem;
}
.contact__info a svg {
    margin-right: 1rem;
    display: inline-block;
}
.contact__info a:hover {
    transform: scale(1.2);
    transition: all ease 0.5s;
    color: #048874;
}

.contact__form {
    text-align: left;
    margin-top: 2rem;
}

.contact__form form {
    color: white;
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    background: #00a78e;
    padding: 0 2rem;
    height: 500px;
    border-radius: 4px;
    justify-content: center;
    -webkit-box-shadow: -4px 17px 31px -25px rgb(44, 44, 44);
    -moz-box-shadow: -4px 17px 31px -25px rgb(44, 44, 44);
    box-shadow: -4px 17px 31px -25px rgb(44, 44, 44);
}

.contact__form form label {
    padding: 0.2rem 0;
    font-size: 1.8rem;
}

.contact__form input,
.contact__form textarea {
    border: 0;
    background: transparent;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    margin-bottom: 2rem;
}

.contact__form textarea {
    background: #017a681a;
}

.contact__form *::placeholder {
    color: #ffffff;
    font-size: 1.2rem;
}

.contact__form button {
    width: 100px;
    padding: 1rem 1.5rem;
    color: black;
    background: white;
    border-radius: 3px;
    margin-top: 1rem;
}

.contact__form form :not(:last-child) {
    outline: none;
}

.contact__form form h3 {
    margin-bottom: 2rem;
}

/* CONTACT */

/* FOOTER */
footer {
    background-color: #f9f9f9;
    text-align: center;
    padding: 3rem;
}
footer h2 {
    font-size: 2.5rem;
}

footer h2 span {
    color: #00a78e;
}

.footer__links {
    font-size: 2.2rem;
    margin: 1.5rem 0;
}

.footer__links a {
    margin: 0 1rem;
}

.footer__links a > *:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all ease-in 0.2s;
}

.footer__links a:not(:last-of-type) {
    color: #0e76a8;
}

footer h3 {
    font-size: 2.2rem;
}

.footer__nav ul {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
}

.footer__nav ul li {
    margin: 1rem 2rem;
}

/* FOOTER */

/* MEDIA QUERIES  */

@media all and (min-width: 860px) {
    body {
        overflow: auto !important;
    }

    header {
        position: relative;
        width: 100%;
        padding: 5rem;
    }
    #menu {
        display: none;
    }

    .navigation h1 span {
        color: white;
    }

    .navigation {
        position: static;
        background: transparent;
        display: flex;
        max-width: 2400px;
        justify-content: space-around;
        margin: 0 auto;
    }

    .navigation .navigation__items {
        display: flex;
        margin-left: auto;
        height: 100%;
        color: #f9f9f9;
        justify-content: space-around;
    }

    .navigation__items li {
        align-self: center !important;
        font-size: 1.9rem;
        white-space: nowrap;
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .mobile__nav__overlay {
        display: none;
    }
    .banner {
        display: flex;
        background: #00a78e;
        max-width: 1600px;
        padding: 0 2rem;
        height: auto;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -110px;
        left: 0;
    }

    .banner__right {
        flex: 1;
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .banner__left {
        flex-basis: 50%;
        margin: 0 auto;
        text-align: left;
        display: flex;
        justify-content: center;
    }

    .banner__info {
        margin-top: 0;
    }

    .banner__info p {
        max-width: 650px;
        font-size: 1.8rem;
    }

    .banner__btn {
        margin: 2rem 0 0 0;
    }

    .about__info p {
        max-width: 70%;
    }
    .projects__container .react-reveal:nth-child(odd) .projects__img {
        order: 2;
    }

    .projects__container {
        margin: 6rem auto 0 auto;
    }
    .projects__item {
        flex-direction: row;
        align-items: center;
    }

    .projects__info {
        flex: 1;
    }

    .projects__info p {
        max-width: 600px;
    }

    .projects__item {
        align-items: center;
        justify-content: center;
    }

    .contact__container {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .contact__info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
    }

    .contact__info p {
        width: 70%;
        color: #acaaaa;
        font-size: 2rem;
        margin: 10rem auto 2rem auto;
    }

    .contact__info a {
        margin-bottom: auto;
    }

    .contact__form {
        margin: 0;
    }

    .contact__form form {
        width: 400px;
    }
}

@media all and (min-width: 1200px) {
    .about__container {
        display: flex;
        max-width: 1400px;
        padding: 8rem 0;
        align-items: center;
    }
    .about__img {
        display: block;
        flex-basis: 50%;
        align-self: center;
        /* transform: skewY(10deg); */
    }

    .about__img div picture img,
    .about__img div picture source {
        /* width: 70%; */
    }

    .about__info p {
        max-width: 100%;
    }
}
